%h2 Sign up

= form_for(@user, :url => user_create_path) do |f|
  - unless flash.blank?
    = flash[:error]
  -unless @user.errors.blank?
    - @user.errors.messages.each do |item,mes|
      %div= mes[0]
  %div
    = f.label :name
    %br
    = f.text_field :name
  
  %div
    = f.label :email 
    %br
    = f.email_field :email, :autofocus => true 

  %div
    = f.label :password
    %br
    = f.password_field :password

  %div
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

    %div
      = f.submit "Зарегестрировать"

