= form_for([@post, @post.picts.new],:url=>"/pict/save_tmp" ,  :enctype=>"multipart/form-data", :html=>{:target=>"upload_frame", :id=>"upload_form"}) do |f|
  %p
    = f.label :adress
    %br
    = f.file_field :adress 
  %p
    = f.label :text
    %br
    = f.text_field :text 
  %p
    = f.submit
