= form_tag("/pict/save_tmp_image",  :enctype=>"multipart/form-data", :target=>"upload_frame", :id=>"upload_form", :style=>"display:none;") do
  = file_field_tag :data, :id=>"post_pict_data"
  = submit_tag

= form_for(@post)  do |f|
  - if @post.errors.any?
    %div#errorExplanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        -@post.errors.full_messages.each do |msg|
          %li= msg
  
  %div{:style=>"float:left; margin-left:30px; width:200px; height:250px;" }
    %div#post_pict_button{:style=>"width:200px; height:250px; position:absolute; opacity:0;"}
    %div.current_image{:style=>"width:200px; height:250px; background-color:grey;"}
    %div{:style=>"display:none;"}
      =f.text_field :pict, :class=>"pict_name"
      =text_field_tag "x1", id:"x1"
      =text_field_tag "y1", id:"y1"
      =text_field_tag "h", id:"h"
      =text_field_tag "w", id:"w"
      =text_field_tag "o_w", id:"o_w"
      =text_field_tag "o_h", id:"o_h"
      
  .form-input
    = f.label :categorie_id
    %br
    = f.collection_select :categorie_id, Categories.all, :id, :title
    = f.select :subcategory_id, Subcategory.all.collect{|c| [c.title, c.id, {:cat=>c.categories.id}]}
  .form-input
    = f.label :title
    %br
    = f.text_field :title
  

  .form-input
    =f.label :view
    =f.text_field :view
  
  .form-input
    =f.label  :genre
    =f.text_field :genre
    
  .form-input
    =f.label :series
    =f.text_field :series
    
  .form-input
    =f.label :technique
    =f.text_field :technique
  
  .form-input
    =f.label :size
    =f.text_field :size_w, :style=>"width:70px;"
    x
    =f.text_field :size_h, :style=>"width:70px;"
  
  .form-input
    =f.label :time_create
    =f.text_field :time_create
    
  .form-input
    =f.label :price
    =f.text_field :price
    
  .form-input
    =f.label :price_type
    =f.select :price_type, [['p.','1'], ['грн.','2']]
   

  .form-input
    = f.label :text
    = f.text_area :text  
  
  .form-input
    = f.submit
