%div#category_menu
  %div#category_label
    = @cat.title
    <br />
    <hr />
    = @cat.text
    %br

  %div#category_action
    %span#play Play
    %span#stop Stop
    %span 
      Time
      %select#time
        =(1..9).each do |i|
          %option{:value=>"#{i}"}= i
  

%div#view_array
  %div#view_all{:style=>"width:#{@posts.count*330}px"}
    - @posts.each do |post|
      = render 'posts/one', :post=>post
%div.clear
